{{name_person}} embarks on a road trip from {{city1_location}} to {{city2_location}}.

The trip is {{distance_integer_min_20_max_200}} miles long, and they drive at an average speed of {{speed_integer_min_30_max_70}} mph.

What's the total travel time?

Please solve this problem and provide your final answer.
---
time = {{distance}} / {{speed}}
Answer = str(round(time, 2)) + ' hours'
