{{name_person}} goes cycling from {{city1_location}} to {{city2_location}} on a {{season_season}} day.

The total distance is {{distance_integer_min_10_max_100}} miles and they cycle at an average speed of {{speed_integer_min_10_max_20}} mph.

How long does the trip take?

Please solve this problem and provide your final answer.
---
time = {{distance}} / {{speed}}
Answer = str(round(time, 2)) + ' hours'
