{{name_person}} invests {{principal_decimal_money_min_500_max_5000_step_025}} in an account earning {{rate_percentage_min_5_max_20_step_1}}% annual interest, compounded yearly. They want to know how long it will take for their investment to reach {{target_amount}}. Using the formula t = log(A/P) / log(1 + r), where A is the target amount, P is the principal, and r is the rate (as a decimal), how many years will it take?

Please solve this problem and provide your final answer.
---
final_amount = {{principal}} * (1 + {{rate}} / 100) ** {{years}}
Answer = final_amount