{{name_person}} goes shopping at {{store_store}} in {{city_location}} looking for new clothes.

{{#items}}{{#is_first}}They find {{quantity}} {{item_plural}} on sale for {{price_decimal_money_min_5_max_50_step_025}} each. {{/is_first}}{{^is_first}}They also grab {{quantity}} {{item_plural}} at {{price_decimal_money_min_5_max_50_step_025}} each. {{/is_first}}{{/items}}

{{#has_discount}}{{name_person}} has a {{discount_pct_percentage_min_10_max_30_step_5}}% off coupon for the entire purchase. {{/has_discount}}What is the final amount {{name_person}} spends?

Please solve this problem and provide your final answer.
---
total = {{price1}} * {{qty1}} + {{price2}} * {{qty2}}
Answer = total