At a grocery store in {{city_location}}, {{name_person}} is planning a shopping trip.

They want to buy {{item1_item_type_grocery_plural}} and {{item2_item_type_grocery_plural}}. Each {{item1_item_type_grocery_singular}} costs {{price1_decimal_money_min_2_max_8_step_025}}, and each {{item2_item_type_grocery_singular}} costs {{price2_decimal_money_min_2_max_8_step_025}}.

If {{name_person}} buys {{qty1_integer_min_2_max_6}} {{item1_item_type_grocery_plural}} and {{qty2_integer_min_2_max_6}} {{item2_item_type_grocery_plural}}, how much will they spend in total?

Please solve this problem and provide your final answer.
---
cost1 = {{qty1}} * {{price1}}
cost2 = {{qty2}} * {{price2}}
total = cost1 + cost2
Answer = total
